h1{
    text-align: center;
    letter-spacing: .2rem;
  }
body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  